{% extends 'layout.html' %}

{% block body %}
<h1>Contributors</h1>
<table class='table'>
    <tr>
        <td style="width:30%">
          <img src = "{{url_for('static',filename='mrz.jpg')}}" style="width:170px;height:170px">
        </td>
        <td>
          <h2 style="margin-top:2px">Md Rafsan Jani</h2>
          <h4>Undergraduate Student</h4>
          <h4>Department of Computer Science and Engineering<h4/>
          <h4>United International University, Bangladesh<h4/>
          <h5>Contact: rafsanjani.muhammod@gmail.com</h5>
       </td>
    </tr>
    <tr>
        <td style="width:30%">
          <img src = "{{url_for('static',filename='tk2.jpg')}}" style="width:170px;height:170px ">
        </td>
        <td>
          <h2 style="margin-top:2px">Md Toha Khan Mozlish</h2>
          <h4>Undergraduate Student</h4>
          <h4>Department of Computer Science and Engineering<h4/>
          <h4>United International University, Bangladesh<h4/>
          <h5>Contact: mmozlish141089@bscse.uiu.ac.bd/h5>
       </td>
    </tr>
    <tr>
        <td style="width:30%">
          <img src = "{{url_for('static',filename='sajid.jpg')}}" style="width:170px;height:170px">
        </td>
        <td>
          <h2 style="margin-top:2px">Sajid Ahmed</h2>
          <h4>Instructor</h4>
          <h4>Department of Computer Science and Engineering<h4/>
          <h4>United International University, Bangladesh<h4/>
          <h5>Contact: sahmed133002@bscse.uiu.ac.bd </h5>
       </td>
    </tr>
    <tr>
        <td style="width:30%">
          <img src = "{{url_for('static',filename='tah.jpg')}}" style="width:170px;height:170px">
        </td>
        <td>
          <h2 style="margin-top:2px">Niger Sultana Tahniat</h2>
          <h4>Undergraduate Student</h4>
          <h4>Department of Computer Science and Engineering<h4/>
          <h4>United International University, Bangladesh<h4/>
          <h5>Contact: rafsanjani.muhammod@gmail.com</h5>
       </td>
    </tr>
    <tr>
        <td style="width:30%">
          <img src = "{{url_for('static',filename='DrSwakkhar.jpg')}}" style="width:170px;height:170px">
        </td>
        <td>
          <h2 style="margin-top:2px">Dr. Swakkhar Shatabda</h2>
          <h4>Associate Professor & Undergraduate Program Coordinator</h4>
          <h4>Department of Computer Science and Engineering<h4/>
          <h4>United International University, Bangladesh<h4/>
          <h5>Contact: swakkhar@cse.uiu.ac.bd </h5>
       </td>
    </tr>
    <tr>
        <td style="width:30%">
          <img src = "{{url_for('static',filename='farid.png')}}" style="width:170px;height:170px">
        </td>
        <td>
          <h2 style="margin-top:2px">Dr. Dewan Md. Farid</h2>
          <h4>Associate Professor</h4>
          <h4>Department of Computer Science and Engineering<h4/>
          <h4>United International University, Bangladesh<h4/>
          <h5>Contact: dewanfarid@cse.uiu.ac.bd</h5>
       </td>
    </tr>
</table>
{% endblock %}
